body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr01yVmOZjiYFqqMZ9Z3QFwLdSk4odUYoikj7kZyFJ79UFIvhJJ9g7RRT5b_fUZ7hRIlA&usqp=CAU"); 
    background-repeat: no-repeat; 
    background-size: 100%;
}